<h1>Hello</h1>

<!-- <div>
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h1>Customer Registration Form</h1>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <table>
                
                  <tr>
                    <td>
                      <label>Customer Name</label>
                    </td>
                    <td>
                      <input type="text" formControlName="customerName" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" /> 
                      <div *ngIf="submitted && f.customerName.errors" class="invalid-feedback">
                          <div *ngIf="f.customerName.errors.required">Customer Name is required</div>
                          <div *ngIf="f.customerName.errors.minlength">Customer Name must be at least 6 characters</div>
                      </div>
                    </td>
                  </tr>    
                    

                  <tr>
                    <td>
                      <label>Password</label>
                    </td>
                    <td>
                      <input type="password" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.pattern">Password pattern is not valid</div>
                      </div>
                    </td>
                  </tr>

            
                    <tr>
                      <td>
                        <label>Confirm Password</label>
                      </td>
                      <td>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>

                      </td>
                    </tr>
                     
              
<tr>
  <td>
    <label>Mobile Number</label>
  </td>
  <td>
    <input type="text" formControlName="mobile" class="form-control" maxlength="10" minlength="10" required [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
        <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
        <div *ngIf="f.mobile.errors.pattern">Mobile Number is not valid </div>
      
    </div>
  </td>
</tr>
                   
<tr>
  <td>
    <label>Gender</label>
  </td>

  <td>
    <input id="male" type="radio" value="male" name="gender"  formControlName="gender">
    <label for="male">Male</label>
    <input id="female" type="radio" value="female" name="gender" formControlName="gender">
    <label for="female">Female</label>
  </td>
</tr>
                  
                  <tr>
                    <td>
                      <label>Country</label>
                    </td>
                    <td>
                      <select formControlName="country" class="form-control">
                        <option value="INDIA">INDIA</option>
                        <option value="USA">USA</option>
                        <option value="GERMANY">GERMANY</option>
                        <option value="FRANCE">FRANCE</option>
                      
                    </select>
                    </td>
                  </tr>
                   
                  <tr>
                    <td>
                      <label>City</label>
                    </td>
                    <td>
                      <select formControlName="city" class="form-control" >
                        <option value="Bengaluru">Bengaluru</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Mumbai">Mumbai</option>
                    
                    </select>
                    </td>
                  </tr>
                  
                   
                  <tr>
                    <td>
                      <label>Date of Birth</label>
                    </td>
                    <td>
                      <input type="date" formControlName="DOB" required class="form-control">
                    </td>
                  </tr>
                  
                    

                  <tr>
                    <td>
                      <button class="btn btn-primary">Submit</button>
                    </td>

                  </tr>
                 

                  </table>
              </form>
          </div>
      </div>
  </div>
</div> -->